<div class="clearfix">
    <div class="right">
        <button class="cancel-btn link-btn" (click)="closeWindow()">Cancel</button>
        <button class="save-btn rounded-btn" (click)="save()">Save</button>
    </div>
<div class="edit-box">
    <h2>Edit Person</h2>
    <div class="form-table">
        <div class="row">
            <label>Name:</label>
            <input [(ngModel)]="person.name">
        </div>
        <div class="row">
            <label>Year:</label>
            <input [(ngModel)]="person.year">
        </div>
        <div class="row">
            <label>Major:</label>
            <input [(ngModel)]="person.major">
        </div>
        <div class="row">
            <label>Position:</label>
            <input [(ngModel)]="person.position">
        </div>
        <div class="row">
            <label>Quote:</label>
            <input [(ngModel)]="person.quote">
        </div>
        <div class="row" *ngIf="!person.imageURL">
            <label>Image:</label>
            <input type="file" name="profile" ng2FileSelect [uploader]="uploader">
        </div>
        <div class="row" *ngIf="person.imageURL">
            <img [src]="person.imageURL" class="thumbnail">
            <p>{{person.imageURL}}</p>
            <label>Change Image:</label>
            <input type="file" name="profile" ng2FileSelect [uploader]="uploader">
        </div>
    </div>
</div>
</div>
