<div *ngIf="!(isEditEntry() || isEditPerson())">
    <h2 class="heading">Entries</h2>



    <div class="thin-badge clearfix" *ngIf="whatWeDo">
        <div>
            <h3 class="left">{{whatWeDo.title}}</h3>
        </div>
        <div class="buttons right">
            <button class="link-btn edit-btn"(click)="setEditEntry(whatWeDo)">Edit</button>
        </div>
    </div>

    <div class="thin-badge clearfix" *ngIf="contact">
        <div class="left">
            <h3>{{contact.title}}</h3>
        </div>
        <div class="buttons right">
            <button class="link-btn edit-btn"(click)="setEditEntry(contact)">Edit</button>
        </div>
    </div>

    <div>
        <h2>People</h2>
        <button class="rounded-btn add-btn"(click)="setEditPerson(null)">Add Person</button>
        <ul class="plain-list">
            <li class="thin-badge clearfix"*ngFor="let person of people">
                <h3 class="left">{{person.name}}</h3>
                <div class="buttons right">
                    <button class="link-btn edit-btn"(click)="setEditPerson(person)">Edit</button>
                    <button class="link-btn delete-btn">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>

<edit-about class="cover" *ngIf="isEditEntry()" (close)="close($event)" [entry]="entryToEdit"></edit-about>
<edit-person class="cover" *ngIf="isEditPerson()" (close)="close($event)" [person]="personToEdit"></edit-person>
