<div class="logo-splash">
    <p>[Logo here]</p>
</div>
<div class="content-container clearfix">
    <div class="textbox-2">
        <h2>Mission Statement</h2>
        <p *ngIf="mission">{{mission.content}}</p>

        <h2>Upcoming Events</h2>
        <p *ngIf="events.length == 0">No upcoming events. Please check back later!</p>
        <ul class="plain-list">
            <li *ngFor="let event of events" class="badge">
                <div class="clearfix">
                    <h3 class="left">{{event.title}}</h3>
                    <small class="right">Updated: {{formatDate(event.updateTime)}}</small>
                </div>
                <p>{{formatDate(event.date)}} | {{event.time}} | {{event.location}}</p>
                <p class="keep-newlines">{{event.content}}</p>
                <p *ngIf="event.link"><a [href]="event.link" class="link-href-btn">Visit Facebook page</a></p>
            </li>
        </ul>
    </div>
</div>
