.badge {
	padding: 1em 1em;
	margin: .5em;
	/*background-color: #e6fff9;*/
	background-color: #EEE;
	border-radius: 4px;
	/*color: #006666;*/
}
.add-btn {
	margin-left: .5em;
	width: auto;
}
.add-btn:hover {

}
.link-href-btn {
	color: #005999;
}
.link-href-btn:hover {
	color: #07C;
}
