body {
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    width: 100%;
    background: #222;
    text-align: center;
    padding: 27% 0;
}
input {
    display: block;
    background: #222;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: lighter;
    border: solid 1px #777;
    padding: 5px;
    color: #fff;
    width: 100%;

}
.center-login {
    margin: 0 auto;
    max-width: 20em;
    text-align: right;
}
button {
    border: none;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    width: 50%;
}
button:hover {
    background-color: #777;
}
.error-text {
    color: red;
}
