<div class="overall-container">
  <header role="banner">
      <div class="header-navigation clearfix">
          <div class="left">
              <h2 class="media-heading left"><a routerLink="/">Logo</a></h2>
              <ul class="d-horizontal-list right">
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="/events">Events</a></li>
                  <li><a routerLink="/sponsors">Sponsors</a></li>
                  <li><a routerLink="/gallery">Gallery</a></li>
                  <li><a href="#news">News</a></li>
              </ul>
          </div>
          <ul class="social-media-bar horizontal-list right">
              <li><a href="http://twitter.com"><img src="assets/twitter_logo.png" class="media-icon"></a></li>
              <li><a href="http://facebook.com"><img src="assets/facebook_logo.png" class="media-icon"></a></li>
              <li><a href="http://instagram.com"><img src="assets/instagram_logo.png" class="media-icon"></a></li>
          </ul>
      </div>
  </header>

  <main role="main" class="maintext">
      <router-outlet></router-outlet>

  </main>


  <footer>
      <p><small>&copy; Copyright USC ACM Siggraph</small></p>
  </footer>

</div>
