<div>
    <div class="edit-box clearfix">
        <div class="right">
            <button class="cancel-btn link-btn" (click)="closeWindow()">Cancel</button>
            <button class="save-btn rounded-btn" (click)="save()">Save</button>
        </div>
        <h2>Edit Entry</h2>
        <div class="form-table">
            <div class="row">
                <label>Title:</label>
                <input [(ngModel)]="entry.title">
            </div>
            <div class="row">
                <label>Content:</label>
                <textarea [(ngModel)]="entry.content"></textarea>
            </div>
        </div>
    </div>
</div>
