<div class="content-container">
    <div class="center-text"><h2 class="heading">Sponsors</h2></div>
    <p>Be our sponsor!</p>
    <button class="rounded-btn add-btn" (click)="setCreateEvent()">Add Sponsor</button>
    <ul class="plain-list">
        <li *ngFor="let sponsor of sponsors" class="badge">
            <div class="clearfix">
                <h3 class="left">{{sponsor.name}}</h3>
            </div>
            <p>{{sponsor.link}} | {{sponsor.imageurl}}</p>
            <p class="keep-newlines">{{sponsor.description}}</p>
            <button class="link-btn edit-btn" (click)="setUpdateEvent(event)">Edit</button>
            <button class="link-btn delete-btn" (click)="delete(event.eventId)">Delete</button>
        </li>
    </ul>

</div>
